<h1>Developer MODE</h1>
<div id="main">
<form method="get">
<div>
    <p>1. レビュー会の最初に、サービスの概要、目的、mediba対応スコープ、対応デバイス、リリース予定日などの前提事項の認識合わせを実施すること。要件確認書に沿っているか確認すること。</p>
    <p class="icon">
      <i class="far fa-check-circle"></i>
      <i class="fas fa-user-check"></i>
      <i class="far fa-times-circle"></i>
      <i class="far fa-comment-dots"></i>
    </p>
</div>
<dev>
    <P>2. 満たすべきレスポンス、パフォーマンスの要件を確認すること。</P>
    <P>(※リリース後2年間のデータ量、アクセス数の増加も考慮すること）</P>
    <P>(※要件の詳細や内訳の確認が必要な場合は、確認すること。「200req/sec」という性能要件の場合、PC+SPトータルでのアクセスなのか、SPだけのアクセスなのか、TOPページへのアクセスなのか、詳細ページへのアクセスなのかなど)</P>
    <P>(※訴求時など、特に機能的に負荷がかかる部分へのリクエストの割合も確認しておくこと)</P>
    <P>(※提示された需要予測にリスクがないか確認すること。リスクがある場合は性能限界値をKDDIに伝えておくこと)</P>
    <P>(※2014/09/05リニューアル改修時の「auヘッドラインサーバ負荷増加」、2014/09/30発生の「auヘッドライン／auニュースにてページが見れない現象発生」により、需要予測のリスク確認と性能限界値の記載を追加)</P>
    <p class="icon">
      <i class="far fa-check-circle"></i>
      <i class="fas fa-user-check"></i>
      <i class="far fa-times-circle"></i>
      <i class="far fa-comment-dots"></i>
    </p>
</dev>

<div>
    <p>3. 原則、DBアクセスを極力少なくするような仕組みとすること。キャッシュを最大限活用し、かつ、キャッシュがダウンしたときにDBアクセスが急増しないように、キャッシュの冗長構成を検討した構成にすること。</p>
    <p>(※キャッシュはダウンする前提で設計すること)</p>
    <p class="icon">
      <i class="far fa-check-circle"></i>
      <i class="fas fa-user-check"></i>
      <i class="far fa-times-circle"></i>
      <i class="far fa-comment-dots"></i>
    </p>
</div>

<div>
    <p>4. 今後のアクセス増、データボリューム増を考慮したスケーラビリティを検討すること。(スケールアップ、スケールアウト)</p>
    <p>(※スケールアウト時にシステム停止(再起動)を伴うかどうかも考えておくこと)</p>
    <p>(※将来的に拡張が予定されている場合、拡張に対応できる構成にしておくこと)</p>
    <p>おk、条件つきおk、んg</p>
</div>

<div>
    <p>5. Disaster Recovery(災害対策)を考慮したシステム構成を検討すること。バーストした際の対応、バーストしないための予防策について検討すること。</p>
    <p>(どこかの負荷状況をモニタリングし、一定の閾値を超えたら、アクセス数を制限するなど)</p>
    <p class="icon">
      <i class="far fa-check-circle"></i>
      <i class="fas fa-user-check"></i>
      <i class="far fa-times-circle"></i>
      <i class="far fa-comment-dots"></i>
    </p>
</div>

<div class="btn-area">
  <span class="pulse-save ok">SAVE</span>
  <a href="<%= root_path %>" class="button generic" style="float: right">Back</a>
</div>
</form>
