.table tbody tr td {
  border-top: 0;
}
.table tbody tr:nth-child(odd) td {
  border-top: 1px solid white;
}

.project_form {
  width: 50%;
  margin: auto;
  padding: 10px;
}

.mode-btn-area {
  float: right;
}
.mode-btn-area a {
  margin: 0px 5px;
}
.mode-btn-area a:hover {
  color: initial;
  opacity: 0.8;
}

a.csv-download {
  color: inherit;
  font-size: 1.5em;
}
a.csv-download:hover {
  color: inherit;
  font-size: 1.5em;
}
